name: Rust CI

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cargo build
        run: cargo build --locked

      - name: Cargo test
        run: cargo test --locked
